PH√ÇN T√çCH ANOVA 

Tham kh·∫£o:

(1) [ONE-WAY ANOVA](https://www.pythonfordatascience.org/anova-python/)

(2) [ANOVA using Python (with examples)](https://www.reneshbedre.com/blog/anova.html)

(3) [H∆∞·ªõng d·∫´n ph√¢n t√≠ch ANOVA b·∫±ng g√≥i statsmodels](https://www.statsmodels.org/stable/examples/notebooks/generated/interactions_anova.html)

QUY TR√åNH PH√ÇN T√çCH ANOVA M·ªòT CHI·ªÄU

Ki·ªÉm tra c√°c gi·∫£ ƒë·ªãnh:

- C√°c m·∫´u ƒë·ªôc l·∫≠p v·ªõi nhau
- C√°c m·∫´u c√≥ c√πng ph∆∞∆°ng sai
- C√°c m·∫´u ƒë·ªÅu tu√¢n theo ph√¢n ph·ªëi chu·∫©n

X√¢y d·ª±ng gi·∫£ thuy·∫øt

$$H_{0}: \mu_{0} = \mu_{1} = ... = \mu_{n}$$
$$H_{a}: \text{C√≥ t·ªëi thi·ªÉu m·ªôt c·∫∑p gi√° tr·ªã trung b√¨nh c√≥ gi√° tr·ªã kh√°c nhau}$$

Gi√° tr·ªã th·ªëng k√™ F ƒë∆∞·ª£c s·ª≠ d·ª•ng trong vi·ªác ra quy·∫øt ƒë·ªãnh c·ªßa ph√¢n t√≠ch ANOVA m·ªôt chi·ªÅu. C√¥ng th·ª©c t√≠nh nh∆∞ sau:

$$F = \frac{MS_{B}}{MS_{W}}$$

v·ªõi:

- $MS_{B} = \frac{\sum_{k}n_{k}(\overline{\rm x_{k}} - \overline{\rm x})^{2}}{k - 1}$
- $MS_{W} = \frac{\sum_{k}n_{i,k}( x_{i,k} - \overline{\rm x})^{2}}{k - 1}$

Lo·∫°i b·ªè gi·∫£ thuy·∫øt $H_{0}$ khi ch·ªâ s·ªë F > ch·ªâ s·ªë F-critical (ho·∫∑c gi√° tr·ªã p t∆∞∆°ng ·ª©ng < 0.05!!!???)

V√≠ d·ª• v·ªÅ ph√¢n t√≠ch ANOVA m·ªôt chi·ªÅu

In [1]:
import pandas as pd

#ƒê·ªåc d·ªØ li·ªáu
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")
df

    person  dose  libido
0        1     1       3
1        2     1       2
2        3     1       1
3        4     1       1
4        5     1       4
5        6     2       5
6        7     2       2
7        8     2       4
8        9     2       2
9       10     2       3
10      11     3       7
11      12     3       4
12      13     3       5
13      14     3       3
14      15     3       6

In [2]:
#Lo·∫°i b·ªè c·ªôt person, theo b·∫°n th√¨ l√Ω do t·∫°i sao?
print('V√¨ c·ªôt "person" mnag √Ω nghƒ©a ƒë√°nh s·ªë th·ª© t·ª± (indexing), kh√¥ng c√≥ √Ω nghƒ©a th·ªëng k√™')
df.drop('person', axis= 1, inplace= True)
df

V√¨ c·ªôt "person" mnag √Ω nghƒ©a ƒë√°nh s·ªë th·ª© t·ª± (indexing), kh√¥ng c√≥ √Ω nghƒ©a th·ªëng k√™

    dose  libido
0      1       3
1      1       2
2      1       1
3      1       1
4      1       4
5      2       5
6      2       2
7      2       4
8      2       2
9      2       3
10     3       7
11     3       4
12     3       5
13     3       3
14     3       6

In [3]:
#Chuy·ªÉn ƒë·ªïi gi√° tr·ªã c·ªôt dose t·ª´ 'ƒë·ªãnh l∆∞·ª£ng' sang ƒë·ªãnh t√≠nh
df['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace= True)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

       dose  libido
0   placebo       3
1   placebo       2
2   placebo       1
3   placebo       1
4   placebo       4
5       low       5
6       low       2
7       low       4
8       low       2
9       low       3
10     high       7
11     high       4
12     high       5
13     high       3
14     high       6

In [4]:
import numpy as np
#Chuy·ªÉn ƒë·ªïi df th√†nh d·∫°ng ph√π h·ª£p ƒë·ªÉ ph√¢n t√≠ch ANOVA m·ªôt chi·ªÅu theo g√≥i scipy.stats
high = low =  placebo = []
high = df['libido'][df['dose'] == 'high']
low = df['libido'][df['dose'] == 'low']
placebo = df['libido'][df['dose'] == 'placebo']
print(high)

10    7
11    4
12    5
13    3
14    6
Name: libido, dtype: int64

In [5]:
print(low)
type(low)

5    5
6    2
7    4
8    2
9    3
Name: libido, dtype: int64

pandas.core.series.Series

In [6]:
print(placebo)

0    3
1    2
2    1
3    1
4    4
Name: libido, dtype: int64

In [7]:
import scipy.stats as stats

stats.f_oneway(high,
               low,
               placebo)

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

p = 0.02 << 0.05 do ƒë√≥ c√≥ b·∫±ng ch·ª©ng b√°c b·ªè gi·∫£ thuy·∫øt ùêª0

In [8]:
#B√†i t·∫≠p: B·∫°n h√£y n·ªëi 3 list high, low, placebo ·ªü tr√™n v√†o trong 1 dataframe c√≥ 3 c·ªôt m·ªói c·ªôt c√≥ t√™n l√† high, low, placebo
#Code here

df = pd.DataFrame({'low': low, 'high': high, 'placebo':placebo})
df

    low  high  placebo
0   NaN   NaN      3.0
1   NaN   NaN      2.0
2   NaN   NaN      1.0
3   NaN   NaN      1.0
4   NaN   NaN      4.0
5   5.0   NaN      NaN
6   2.0   NaN      NaN
7   4.0   NaN      NaN
8   2.0   NaN      NaN
9   3.0   NaN      NaN
10  NaN   7.0      NaN
11  NaN   4.0      NaN
12  NaN   5.0      NaN
13  NaN   3.0      NaN
14  NaN   6.0      NaN